<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.caleydo.core.views"
            class="org.caleydo.view.relationshipexplorer.internal.RcpGLRelationshipExplorerView"
            icon="resources/icons/icon.png"
            id="org.caleydo.view.relationshipexplorer"
            name="RelationshipExplorer">
      </view>
      <view
            category="org.caleydo.core.views"
            class="org.caleydo.view.relationshipexplorer.structure.RcpGLCompoundStructureView"
            id="org.caleydo.view.compoundstructure"
            name="Compound Structure"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.caleydo.menu.view.visualization">
         <command
               commandId="org.caleydo.view.relationshipexplorer.command.open"
               icon="resources/icons/icon.png"
               style="push">
         </command>
         <command
               commandId="org.caleydo.view.compoundstructure.open"
               icon="resources/icons/icon.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.caleydo.view.relationshipexplorer.internal.OpenViewHandler"
            id="org.caleydo.view.relationshipexplorer.command.open"
            name="RelationshipExplorer">
      </command>
      <command
            defaultHandler="org.caleydo.view.relationshipexplorer.structure.OpenStructureViewHandler"
            id="org.caleydo.view.compoundstructure.open"
            name="CompoundStructure">
      </command>
   </extension>
   <extension
         point="org.caleydo.core.data.datadomain.ViewDataDomainAssociation">
      <association
            view="org.caleydo.view.relationshipexplorer">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
         <dataDomain
               type="org.caleydo.datadomain.generic">
         </dataDomain>
      </association>
      <association
            view="org.caleydo.view.compoundstructure">
         <dataDomain
               type="org.caleydo.datadomain.genetic">
         </dataDomain>
      </association>
   </extension>
</plugin>
